<ion-card class="cartao">

  <ion-item>
    <ion-avatar item-start>
      <img class="folha" src="assets/svg/leaf.svg">
    </ion-avatar>
    <h2>Planta Regada</h2>
    <p>10 de Junho, 2017</p>
  </ion-item>


  <!-- <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
        </ion-col>     
      </ion-row> -->

</ion-card>
